<div class="footer-section">
    <div class="container-wrapper">
      <div class="container">
        <div class="w-layout-grid footer-grid">
          <a id="w-node-_371987f7-477d-b662-4d60-46bc8f22e9d1-8f22e9cd" href="{{ links.2f }}" aria-current="page" class="nav-logo-link-wrapper w-inline-block w--current"><img src="{{ images.7ffb73db.url }}" loading="lazy" alt="{{ images.7ffb73db.alt | trim | escape }}" class="footer-logo-image"></a>
          <div id="w-node-_371987f7-477d-b662-4d60-46bc8f22e9d3-8f22e9cd" class="footer5-links-wrap">
            <a href="{{ links.2f }}" aria-current="page" class="footer-nav-link w--current">{{ texts.2268ff }}</a>
            <a href="{{ links.-3c231376 }}" class="footer-nav-link">{{ texts.14be4779 }}</a>
            <a href="{{ links.55b8e8be }}" class="footer-nav-link">{{ texts.3c2336d }}</a>
          </div>
          <div id="w-node-_371987f7-477d-b662-4d60-46bc8f22e9da-8f22e9cd" class="footer5-right-column">
            <div class="footer-links-wrapper">
              <a href="{{ links.63d9516b }}" class="footer-link w-inline-block"><img src="{{ images.-40040899.url }}" loading="lazy" alt="{{ images.-40040899.alt | trim | escape }}" class="footer-image"></a>
              <a href="{{ links.19976ba3 }}" class="footer-link w-inline-block"><img src="{{ images.-65191692.url }}" loading="lazy" alt="{{ images.-65191692.alt | trim | escape }}" class="footer-image"></a>
              <a href="{{ links.-5cd3f38d }}" class="footer-link w-inline-block"><img src="{{ images.4bc5256e.url }}" loading="lazy" alt="{{ images.4bc5256e.alt | trim | escape }}" class="footer-image"></a>
              <a href="{{ links.499802e4 }}" class="footer-link w-inline-block"><img src="{{ images.-1d96be21.url }}" loading="lazy" alt="{{ images.-1d96be21.alt | trim | escape }}" class="footer-image"></a>
            </div>
          </div>
          <div id="w-node-_371987f7-477d-b662-4d60-46bc8f22e9e4-8f22e9cd" class="footer-filler-div"></div>
          <div id="w-node-_371987f7-477d-b662-4d60-46bc8f22e9e5-8f22e9cd" class="footer-legal-text">{{ texts.2b333672 }}</div>
          <div id="w-node-_371987f7-477d-b662-4d60-46bc8f22e9e7-8f22e9cd" class="footer-legal-text right-aligned">{{ texts.2b333672 }}</div>
        </div>
      </div>
    </div>
  </div>