<div class="navbar-logo-left wf-section">
    <div data-animation="default" class="navbar-logo-left-container shadow-three w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
      <div class="container">
        <div class="navbar-wrapper">
          <a href="{{ links.23 }}" class="navbar-brand mobile w-nav-brand"><img src="{{ images.7ffb73db.url }}" loading="lazy" alt="{{ images.7ffb73db.alt | trim | escape }}" class="image-4"></a>
          <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
            <a href="{{ links.2f }}" aria-current="page" class="navbar-brand mobile-hide w-nav-brand w--current"><img src="{{ images.7ffb73db.url }}" loading="lazy" alt="{{ images.7ffb73db.alt | trim | escape }}" class="nav-logo-image"></a>
            <div class="middle-nav-items-wrapper">
              <ul role="list" class="nav-menu-two w-list-unstyled">
                <li>
                  <a href="{{ links.2f }}" aria-current="page" class="nav-link w--current">{{ texts.2268ff }}</a>
                </li>
                <li>
                  <a href="{{ links.-3c231376 }}" class="nav-link">{{ texts.14be4779 }}</a>
                </li>
                <li>
                  <a href="{{ links.55b8e8be }}" class="nav-link">{{ texts.3c2336d }}</a>
                </li>
                <li class="mobile-margin-top-10 mobile">
                  <a href="{{ links.23 }}" class="nav-button w-button">{{ texts.-64104400 }}</a>
                </li>
              </ul>
            </div>
            <ul role="list" class="nav-menu-two mobile-hide w-list-unstyled">
              <li class="mobile-margin-top-10">
                <a href="{{ links.6c80469d }}" class="nav-button w-button">{{ texts.-64104400 }}</a>
              </li>
            </ul>
          </nav>
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>